.Heart {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/66955/web_heart_animation.png");
  background-repeat: no-repeat;
  background-size: 2900%;
  background-position: left;
  height: 50px;
  width: 50px;

  margin: -17px;
  margin-right: -14px;
  cursor: pointer;
}

.HeartDone {
  background-position: right;
}

.animate {
  animation: heart-burst 0.8s steps(28) forwards;
}

@keyframes heart-burst {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}

.infoBox {
  padding: 8px 14px;

  &>div {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    margin-bottom: 8px;
  }

  &>div:nth-child(1) {
    // favoriates
    justify-content: space-between;

    &>div:nth-child(1) {
      display: flex;
    }
  }
}